.home {
    text-align: center;
}

.buton {
    background-color: black;
    border: black;
    color: white;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
}
  
.buton:hover {opacity: 1}